Source: lingmo-shortcut-viewer
Section: devel
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper (>=9),
               pkg-config,
               cmake,
               qt6-base-dev,
               qt6-base-private-dev,
               libdtk6widget-dev
Standards-Version: 4.5.0
Homepage: https://github.com/LingmoOS/lingmo-shortcut-viewer

Package: lingmo-shortcut-viewer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: shortcut viewer tools
 A shortcut viewer tool for deepin.
